/* font size  */
$baseFontSize: 14px;

/* font family */
$fontMartel: 'Martel', serif;
$fontMontserrat: 'Montserrat', sans-serif;
$fontOpenSans: 'Open Sans', sans-serif;

/* COLORS  */
$whiteColor: #fff;

//main and for text
$textColor: #252B42;
$secondTextColor: #737373;

//for form
$mutedColor: #BDBDBD; //text form
$formColor: #F9F9F9; //background form
$lightgrayColor: #E6E6E6; // for footer => form border!!!

//for button
$secondaryColor2: #784F33;

//for background-color
$superLightColor: #FAFAFA;
$lightColor: #F3F3F3;
$nudCeolor: #F6E4D7;

//about for border
$grayColor: #DEDEDE;
$lightBlueColor: #A9D6FF;
$superLightGrayColor: #EEE;

//for icon 
$primaryColor: #D0A144;
$darkBlueColor: #295C7A;
$starColor: #F3CD03;
$blueColor: #335BF5;
$pinkColor: #E51F5A;
$twitterColor: #21A6DF;
$redColor: #E42F08;


//for footer
$lightPurple: #364067