* {
    font-size: $baseFontSize;
    font-weight: 400;
    line-height: 1;
    box-sizing: border-box;
    transition: all .3s ease;
}
html {
    scroll-behavior: smooth;
}
a, a:hover, a:link, a:active, a:focus, a:visited {
    text-decoration: none;
    border-radius: none;
    overflow: hidden;
    cursor: pointer;
}
a:focus, a:active{
    outline: none;
}
ul {
    margin: 0; 
    padding: 0;
}
li {
    list-style: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 15px;
}