.advise-list__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: $whiteColor;

    .icon {
        max-width: 32px;
        max-height: 32px;
        fill: $primaryColor;
    }
}

.comments-list__stars {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    .icon {
        width: 18.34px;
        height: 18.35px;
        fill: $starColor;

        &:not(:last-child) {
            margin-right: 1.83px;
        }
    }
}

.team-list__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    li {
        font-size: 0;
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
    a {
        
    }
    .icon {
        width: 24px;
        height: 24px;

        &:hover {
            transform: scale(150%);
        }
    }
}

.footer {
    .footer-top__logo {
        margin-bottom: 65px;
        .icon {
            display: block;
            width: 100px;
            height: 32px;
            fill: #fff;
        }
    }
    .social__list{
        display: flex;
        .social__item {
            &:not(:last-child) {
                margin-right: 20px;
            }
            a {
                font-size: 0;
            }
        }
        .icon {
            width: 24px;
            height: 24px;
            &:hover {
                transform: scale(150%);
            }
        }
    }
}
