.consultation {
    .container {
        max-height: 62px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .flex {
        max-width: none;
    }
    p{
        max-width: none;
        margin-bottom: 0;
    }
    .button {
        width: 158px;
    }
}