.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    z-index: 100;
}

.header .container {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {

    .shopping,
    .search,
    .toggler {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }

    .shopping .icon,
    .search .icon {
        width: 16px;
        height: 16px;
    }

    .nav-bar {
        display: inline;
        margin-right: 42px;

        .menu {
            height: auto;
            padding-top: 0;
            display: inline-flex;
        }

        .menu-item {
            display: inline-flex;
            margin-right: 26px;
            margin-bottom: 0;
        }

        .menu-item a {
            font-size: $baseFontSize;
        }
    }
}