.help {
    background-image: url("../img/background-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

.help {
    .left-part {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 100px;


        h2 {
            margin-top: 0;
            max-width: 693px;
            font-size: 48px;
            text-align: left;
            line-height: 65px;
            padding-right: 10px;
        }

        p {
            max-width: 539px;
            text-align: left;
            padding-right: 20px;
        }

        .reference {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
    }

    .right-part {
        margin-top: 150px;
        margin-bottom: 50px;
    }
}